@import "../variables";

#about {
  display: flex;
  flex-direction: column;
  background-color: $light-grayish-blue;
  text-align: center;
  padding-bottom: 70px;
  gap: 25px;
  margin-top: 80px;
  &_description {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 70px 30px 20px;
    & p:nth-child(1) {
      font-size: 32px;
      padding: 0 30px;
      color: $dark-blue;
      line-height: 1.25;
    }
    & p:nth-child(2) {
      color: $grayish-blue;
      font-size: 16px;
      line-height: 1.5;
    }
  }
  &_box {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    gap: 20px;
    &_img {
      height: 80px;
      width: 80px;
      align-self: center;
      margin: 10px 0;
    }
    & p:nth-child(2) {
      color: $dark-blue;
      font-size: 22px;
    }
    & p:nth-child(3) {
      color: $grayish-blue;
      font-size: 16px;
      line-height: 1.8;
    }
  }
}
