@import "../variables";
#footer {
  display: flex;
  flex-direction: column;
  background-color: $dark-blue;
  padding: 30px;
  &_logo {
    padding: 10px 90px 20px;
  }
  &_social {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px 50px;
    gap: 10px;
    & img {
      height: 27px;
      &:hover {
        filter: invert(67%) sepia(48%) saturate(682%) hue-rotate(81deg)
          brightness(180%) contrast(91%);
      }
    }
  }
  &_nav {
    display: flex;
    flex-direction: column;
    list-style: none;
    text-align: center;
    color: $very-light-gray;
    font-weight: 300;
    gap: 20px;
    & li:hover {
      color: $lime-green;
    }
  }
  &_button {
    color: $white;
    border: none;
    margin: 40px 0 30px;
    width: 55%;
    font-weight: 600;
    border-radius: 30px;
    padding: 18px 25px;
    align-self: center;
    font-size: 16px;
    background: linear-gradient(90deg, $lime-green 0%, $bright-cyan 100%);
    transition: 0.4s;
    cursor: pointer;
    &:hover {
      filter: brightness(130%);
    }
  }
  &_copy {
    text-align: center;
    color: $grayish-blue;
    margin-bottom: 30px;
  }
}
