@import "../variables";
@import "../mixins";
#nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  background-color: $white;
  height: 7.5vh;
  width: 100%;
  box-shadow: 0 0 10px -5px black;
  transition: 0.5s;
  z-index: 2;

  & button {
    display: none;
  }
  &_logo {
    height: 100%;
    background-image: url("../../imgs/logo.svg");
    background-repeat: no-repeat;
    width: 50%;
    background-position: center;
    background-size: 75%;
  }
  &_links {
    opacity: 0;
    height: calc(100vh - 7.5vh);
    margin-top: 7.5vh;
    width: 100%;
    display: none;
    position: fixed;
    background-color: rgba(45, 47, 63, 0.3);
    transition: 0.2s;
    & ul {
      font-size: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: 35vh;
      padding: 10px 0;
      width: 87%;
      list-style: none;
      margin: 3vh auto;
      background-color: $white;
      text-align: center;
      border-radius: 5px;
      & li:hover {
        color: $lime-green;
      }
    }
    &.active {
      opacity: 1;
      display: block;
    }
  }
  &_hamburger {
    height: 100%;
    background-image: url("../../imgs/icon-hamburger.svg");
    background-repeat: no-repeat;
    width: 10%;
    background-position: center;
    background-size: 80%;
    margin-right: 25px;
    transition: 0.3s;
    &.active {
      background-image: url("../../imgs/icon-close.svg");
      background-size: 50%;
    }
  }
}
@include mq(lg) {
  #nav {
    height: 12vh;
    padding: 0 100px;
    & button {
      display: block;
      color: $white;
      width: 12%;
      margin: 0 5%;
      border: none;
      font-weight: 600;
      border-radius: 30px;
      padding: 18px 25px;
      align-self: center;
      font-size: 16px;
      background: linear-gradient(90deg, $lime-green 0%, $bright-cyan 100%);
      transition: 0.4s;
      cursor: pointer;
      &:hover {
        opacity: 0.6;
      }
    }
    &_logo {
      width: 20%;
      background-size: 50%;
    }
    &_links {
      display: block;
      flex-grow: 1;
      opacity: 1;
      height: auto;
      margin-top: 0;
      width: auto;
      position: static;
      background-color: transparent;
      & ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        gap: 20px;
        height: 100%;
        width: 100%;
        margin: 0;
        border-radius: none;
        color: $grayish-blue;
        & li {
          position: relative;
          cursor: pointer;
          width: 10%;
          transition: 0.4s;
        }
        & li:hover {
          color: $lime-green;
          transition: 0.4s;
          &::before {
            transition: 0.4s;
            position: absolute;
            content: "";
            bottom: -5vh;
            border-radius: 5px 5px 0 0;
            transform: translateY(-40%);
            left: 0;
            right: 0;
            height: 5px;
            background-color: $lime-green;
          }
        }
      }
      &.active {
        opacity: 1;
        display: block;
      }
    }
    &_hamburger {
      display: none;
      &.active {
        background-image: url("../../imgs/icon-close.svg");
        background-size: 50%;
      }
    }
  }
} ;
